* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

p {
    text-align: justify;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: rgba(176, 224, 230, 0.466);
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: aliceblue;
    text-align: center;
}

.container {
    margin: 20px 30px;
}

.foto-principal {
    width: 200px;
    border-radius: 30%;
    box-shadow: 0px 0px 30px black;
}

.profile {
    margin-top: 20px;
    text-align: center;
}

#meu-nome {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 50px;
    margin-bottom: 0%;
}

h2 {
    font-size: 15px;
}

h3 {
    text-align: left;
    margin-bottom: 15px;
    margin-top: 30px;
}


.social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    list-style: none;
}

.social-icons img {
    width: 35px;
    margin-bottom: 60px;
}

.cursos ul {
    text-align: left;
    list-style: none;
}

.experiencia li {
    list-style: none;
    text-align: left;
    margin-top: 20px;
}

.footer {
    background-color: aliceblue;
    color: black;
    text-align: center;
    margin-top: 40px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px 0;
}