* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

h1, h2, h3, h4, p {
  font-style: italic;
  text-decoration: none;
  margin-bottom: 15px;
}

.container {
  display: flex;
}

.navbar {
   width: 20%;
   padding: 30px;
   }

  
  .navbar ul {
    list-style: none;
  }
  
   .navbar ul li {
    border-radius: 10px 0px;
    background-color: rgb(51, 48, 48);
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
     }

    .navbar ul li a {
      text-transform: uppercase;
      text-decoration: none;
      border-radius: 25px 0px;
      display: block;
      padding: 10px 20px;
      color: rgb(248, 248, 248);
      font-weight: bold;
      font-size: 15px;
      font-style: italic;
      }

.content {
  width: 80%;
  height: 60vh; 
  padding: 30px 30px;
  box-shadow: 2px 2px 0 rgb(228, 228, 228);
  background: #f1f1f1;
  border-radius: 40px 0px;
  margin: 20px 20px 20px 0;
}

.content img {
  width: 20%;
  height: 80%;
  border-radius: 40px 0px;
}

.header {
  background-size: cover;
  color: white;
  background-image: url(/imperio-da-beleza/img/logo.jpeg);
  text-align: center;
  padding: 50px 0;
  font-size: 40px;
  box-shadow: 0 0 10px black;
  margin-bottom: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  left: 0;
  background-color: rgb(51, 48, 48);
  color: rgb(248, 248, 248);
  text-align: center;
  font-size: 20px 0px;
  padding: 20px 0px;
}